<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>天鲜易购-注册</title>

    <link rel="stylesheet" type="text/css" href="/static/app/css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/app/css/loading.css"/>
	<link href="/static/app/css/mui.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/app/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/app/css/style.css"/>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
<body>
	<header class="top-header">
		<a class="icona" href="javascript:history.go(-1)">
			<img src="/static/app/images/left.png"/>
		</a>
		<h3>注册</h3>
	</header>
	
	<div class="login">
		<form id="register_form">
			<ul>
				<input type="text" name='veriCode' id='veriCode' value='' hidden/>
				<li>
					<label>真实姓名：</label>
					<input type="text" name='realname' id='realname' placeholder="请输入您的真实姓名"/>
				</li>
				<li>
					<label>店铺名称：</label>
					<input type="text" name='storename' id='storename' placeholder="请输入您的店铺名称"/>
				</li>
				<li>
					<label>店铺地址：</label>
					<input type="text" name='address' id='address' placeholder="请输入您的店铺地址"/>
				</li>
                <li>
                    <label>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
                    <input type="text" name='tel' id='tel' placeholder="请输入手机号"/>
                </li>
                <li>
                    <label>验&nbsp;&nbsp;证&nbsp;&nbsp;码：</label>
                    <input type="number" id="code" name="code" class="code" placeholder="请输入验证码"/>
                    <input type="button" value="发送" id='sendCode'>
                </li>
			</ul>
			<input type="submit" value="注册"/>
		</form>
		<p id="summary"></p>
		<div id="label_error"></div>
	</div>

</body>

<script src="/static/app/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/app/js/alert.js"></script>
<!--请在下方写此页面业务相关的脚本,首先需要引入juery.validate表单验证插件-->
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script src="/static/app/js/home.js"></script>
<script type="text/javascript">
	$(function(){
	    $('#register_form').validate({
			rules:{
				realname:{
					required:true,
				},
				storename:{
					required:true,
				},
				address:{
					required:true,
				},
				tel:{
					required:true,
					isMobile:true,
				},
				code:{
					required:true,
				},
			},
			 messages: {
				 realname:"",
				 storename:"",
				 address:"",
				 tel:{
					 required:"",
					 isMobile:""
				 },
				 code:"",
			 },
			errorLabelContainer: $("#label_error"),
			onkeyup:false,
	        focusCleanup:true,
	        success:"valid",
	        submitHandler:function(form){
	        	var param = $('#register_form').serialize();
	            $.ajax({
	                url: '/App/register.do',
	                type: 'POST',
	                dataType:'json',
	                data:param,
	                success:function(result){
	                    if(result.success)
	                    {
	                        //以下为关闭当前frame，并刷新父页面
	                    	$.toast(result.msg);
	                        setTimeout(function(){
	                        	location.href = '/App/person.do'
	                        }, 2000)
	                    	
	                    }else
	                    {
	                    	$.toast(result.msg);
	                    }
	                },
	                error:function(data) {
	                    layer.msg("对不起，服务请求错误！",{icon:2,time:1500});
	                    $.toast(result.msg);
	                }
	            });
	        	
	        },
	        showErrors:function(errorMap,errorList) {
	    		if(this.numberOfInvalids() != 0){
	    			$.toast("抱歉，您有信息尚未填写或填写有误");
	    		}
	    		this.defaultShowErrors();
	    	}
	    });
	});
    $(window).load(function(){
        $(".loading").addClass("loader-chanage").fadeOut(300);
    });

    var si = null;
    $(".login form ul li input.code+input[type=button]").click(function() {
    	var tel = $('#tel').val()
    	if(tel == null || !(tel.length === 11)){
    		$.toast("请求输入正确的手机号码");
    		return;
    	}
        if (si !== null) {
            return;
        }
        var s = 60;
        $(this).css("background-color", "#999");
        $(this).val(s + " s");
        var thist = $(this);
        si = setInterval(function() {
            s--;
            if (s < 0) {
                clearInterval(si);
                si = null;
                thist.val("发送");
                thist.css("background-color", "#0066ff");
            } else {
            	thist.val(s + " s");
            }
        }, 1000);
    });
    $('#sendCode').click(function(){
    	var tel = $('#tel').val()
    	$.ajax({
           url: '/App/sendCode.do?tel='+tel,
           type: 'POST',
           dataType:'json',
           success:function(result){
               if(result.success)
               {
                   //以下为关闭当前frame，并刷新父页面
            	  $('#veriCode').val(result.msg)
                   
               }else
               {
            	   $.toast(result.msg);
               }
           },
           error:function(data) {
               $.toast("对不起，服务请求错误！");
           }
       });
   	
    })
</script>

</html>