<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwnu.system.mapper.SysUserMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="org.nwnu.system.entity.SysUser">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="roleCode" property="roleCode" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="qq" property="qq" />
		<result column="operator" property="operator" />
		<result column="update_date" property="update_date" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, email, roleCode, name, phone, qq, operator, update_date
    </sql>
</mapper>
